.ajanlat {
    text-align: center;
    border-radius: 20px;
}
body{
    background-image: url(hatter.jpg);
    background-attachment: fixed;
}
.aa{
    border-bottom: 2px dotted blue
}
.aaa{
    text-align: center;
}
a:link {
    color: yellow;
}
a:visited {
    color: yellow;
}
a:hover {
    color: yellow;
    text-decoration: underline
}
a:active {
    color: yellow;
}